<!DOCTYPE html>
<html>
<head>
    <title>Gradebook for Course <%= courseId %></title>
</head>
<body>
    <h1>Gradebook for Course <%= courseId %></h1>
    <!-- Render gradebook data here -->
</body>
</html>
